.fieldset_main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 70%;
}
.ingredients_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 250px;
}
.htp_list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 250px;
}
.list {
  display: flex;
  flex-wrap: wrap;
}
.addons {
  position: absolute;
  top: 0.6em;
  right: 80px;
  background: #fff;
  line-height:1.2em;
}
.MuiTypography-body1 {
  font-size: 20px !important;
}

@media screen and (max-width: 800px) {
  .MuiTypography-body1 {
    font-size: 30px !important;
  }
  .fieldset_main {
    width: 85%;
  }
  .addons {
    position: absolute;
    top: 3.2em;
    right: 60px;
    background: transparent;
  }
}
