.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.profileimg {
  margin-top: 70px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 5px solid #21b5a2;
}
.follow {
  margin-top: 40px !important;
  background-color: #21b5a2 !important;
}

.textdescription {
  width: 20%;
  margin-left: 40%;
}
.postimg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.post {
  height: 120px;
  width: 120px;
  margin-left: 15%;
}
.tabs {
  background-color: #21b5a2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 60px;
}
.tabs :hover {
  border-style: solid;
  border-color: #21b5a2 #21b5a2 red #21b5a2;
}

.cardPost {
  width: 45%;
  margin-left: 10px;
}
.postContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.text {
  text-align: center;
  font-size: x-large;
  margin-top: 12px !important;
}
