.AllPage {
  width: 600px;
  height: 100%;
  margin-left: 35%;
  border: 5px solid #21b5a2;
  border-radius: 15%;
  margin-top: 15px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.profileimg {
  margin-top: 20px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 5px solid #21b5a2;
}
.follow {
  margin-top: 30px;
}

.postimg {
}

.post {
  height: 120px;
  width: 120px;
  margin-left: 15%;
}
