.addFoodTags, .howManyPeople, .ingredients, .howToPrepare, .difficultyTag, .timeTag{
    margin: 10px;
}
.foodTagsWrapper{
    display: flex;
}
.peopleSection, .difficultySection, .timeSection{
    display: flex;
    margin-top: 10px;
}
.peopleQuantity, .ingredientQuantity, .timeQuantity{
    margin: 6px;
    margin-top: -2px;
    width: 60px;
    text-align: center;
}
.difficultyInput{
    margin: 6px;
    margin-top: -5px;
    width: 100px;
    text-align: center;
}
.ingredientElement, .stepElement, .fa-plus-circle{
    margin: 6px;
}
.displayingListIngredients{
    list-style: none;
    overflow-wrap: break-word;
}
.displayingListSteps{
    overflow-wrap: break-word;
}
.deleteIngredient{
    margin-right: 10px;
}
.deleteStep{
    margin-left: 10px;
}
hr{
    margin-top: 40px;
}
.noMarginHR{
    margin-top: 5px;
}

.fa-plus-circle:hover{
    cursor: pointer;
}