.addFoodTags, .howManyPeople, .ingredients, .howToPrepare, .difficultyTag, .timeTag{
    margin: 10px;
}
.foodTagsWrapper{
    display: flex;
}
.peopleSection, .difficultySection, .timeSection{
    display: flex;
}

.peopleQuantity, .ingredientQuantity, .timeQuantity{
    margin: 6px;
    width: 60px;
    height: 20px;
    text-align: center;
}
.difficultyInput{
    margin: 6px;
    margin-top: 10px;
    width: 100px;
    height: 20px;
    text-align: center;
}
.ingredientElement, .stepElement, .fa-plus-circle{
    margin: 6px;
}
.displayingList{
    text-align: center;
}

hr{
    margin-top: 40px;
}
.noMarginHR{
    margin-top: 5px;
}

.fa-plus-circle:hover{
    cursor: pointer;
}