.NewPostHeader{
    display: flex;
    justify-content: space-between;
}
.newPostBackButton, .newPostTag, .newPostShareButton{
    margin: 10px;
}
.newPostBackButton{
    margin-top: 13px;
}
.newPostShareButton{
    color: #4DB2A5;
}