.imageAndCaption{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.imageIcon{
    color: #4DB2A5;
    font-size: 65px;
}
.MuiFilledInput-input{
    height: 45px !important;
}
.postTitleDiv{
    margin-top: 15px;
    margin-left: 20px;
}